@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Open+Sans+Condensed:300&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px 10%;
    background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/204180/aceef6d078c24ad92392b0ad066af923f2f96012.jpg");
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header p{
    text-align: center;
    background-color: #8A95A5;
    padding: 0 0.5em;
}

.inicial-img{
    max-height: 300px;
    border: 10%;
    border-radius: 5%;
}

a{
    text-decoration: none;
    
}

h1, h2{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 1.8em;
}

h1{
    color: #FAF7F7;
    font-size: 3em;
}

p{
    font-size: 1.3em;
    text-align: justify;
}

ol li{
    font-size: 1.3em;
    text-align: justify;
}

article ul li{
    font-size: 1.3em;
    text-align: justify;
}

main{
    background-color: #FAF7F7;
}

.content-option{
    margin-top: 1em;
    padding: 1em 2.5em;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F4D03F;
    font-size: 1.5em;
    padding: 1em;
    color: #5D2921;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.menu :visited{
    color: #5D2921;
}

.menu :hover{
    background-color: #B2B09B;
    opacity: 1.0;
}

.hide{
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img{
    max-height: 350px;
}

footer p{
    text-align: center;
    background-color: #F4D03F;
}
